@import '@scss/utils.scss';
.container {
  @include txt-content;

  .wrap-persons {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.4px;
    font-weight: bold;
    margin: 42px 0 8px;

    .ico-heart {
      fill: var(--red);
      width: 16px;
      height: 16px;
      margin: 0 6px;
      animation: bounce 1.2s infinite linear;
    }
    @keyframes bounce {
      0% {
        transform: scale(0.95);
      }
      5% {
        transform: scale(1.1);
      }
      38% {
        transform: scale(0.85);
      }
      45% {
        transform: scale(1);
      }
      60% {
        transform: scale(0.95);
      }
      100% {
        transform: scale(0.95);
      }
    }
  }
  .wrap-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    span {
      font-size: 17px;
    }
  }
  .ico-flower {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
  }
}
